* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #222;
}

.card {
  border: 2px solid rgb(6, 160, 160);
  background-color: rgba(3, 22, 41, 0.544);
  width: 400px;
  font-size: 25px;
  color: white;
}

h3 {
  font-size: 2em;
  justify-content: center;
  text-align: center;
  color: rgb(6, 160, 160);
  font-weight: bold;
}

h5 {
  justify-content: center;
  text-align: center;
  color: rgb(6, 160, 160);
  font-style: italic;
}

.password {
  padding-top: 15px;
}

input {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn {
  margin-top: 15px;
  background-color: rgb(6, 160, 160);
  color: white;
}

.btn:hover {
  opacity: 1;
  background-color: rgba(57, 127, 127, 0.386);
}
